/* .project__page{
} */

.project__page_nav{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.project__page_nav div a{
    opacity: .54;
}

.project__page_nav div a:hover{
    opacity: 1;
    text-decoration: none;
}


.project__content{
    min-height:50vh;
    padding-top: 5%;
}

.project__footer{
    /* display:table-row; */
    height: 0;
}



@media (max-width: 900px) {
    .project__page{
        padding:5% 2%;
    }
    
}
@media (max-width: 600px) {
    .project__page{
        padding:10px;
    }
    
}