/* .project__page{
} */

.project__page_nav{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.project__page_nav div a{
    opacity: .54;
}

.project__page_nav div a:hover{
    opacity: 1;
    text-decoration: none;
}


.project__content{
    min-height:60vh;
}

.project__footer{
    /* display:table-row; */
    height: 0;
}
