.NavBar {
    z-index:4;
    padding: 0 3%;
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 70px;
}

.NavBar-header {
    display: flex;
    align-items: center;
}

.NavBar ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    padding-left: 50px;
    justify-content: space-between;
}

.NavBar-header a {
    color: inherit;
    text-decoration: none;
}

.NavBar-header ul li {
    line-height: 1;
    margin-left: 1em;
    padding-left: 1em;
}



@media screen and (max-width:575px) {
    .NavBar ul,.NavBar-header {
        flex-direction: column;
        padding: 0;
    }
    .NavBar-header ul li{
        padding-left: 0;
        margin-left: 0;
    }
    .NavBar ul{
        margin: 0;
    }
    .NavBar-header h1, .NavBar-header ul li{
        font-size: 16px;
        margin: 5px;
    }
    .NavBar-header h1{
        padding-top: 2px,
    }
    .NavBar{
        height: 40px;
    }

}