@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap");

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notFound h1 {
    font-weight: 300;
    font-size: 30vh;
    margin: 0;
    padding: 0;
}

.notFound h2 {
    font-weight: 200;
    font-size: 5vh;
    padding: 1vh 0;
}

.invalid_id_text{
    color: red;
    text-decoration: underline;
}