@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One&display=swap");

.notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notFound h1 {
    font-size: 40vh;
    margin: 0;
    padding: 0;
}

.notFound h2 {
    font-size: 5vh;
    padding: 1vh 0;
}
