/* #portfolio {
    margin-left: 0;
    margin-right: 0;
} */

.port-category-cover{
    width:20vw ;
    height:40vw;
    border-radius: 20em;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content:center ;
    align-items: center;
    margin:1rem;
    flex-shrink: 0;
    transition: 2s;
}




.port-link:hover{
    filter: invert(100%);
    color: black;
}

.port-link::before{
    filter: invert(0%);

}

.port-link{
    border-radius: inherit;
    transition: 1.5s;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;    
    text-decoration: none;
}
.port-title{
    color:white;
    font-weight: 600;
    text-transform:uppercase;
}

@media (max-width: 1000px) {
    .port-category-cover{
        width:20vw ;
        height:40vw;}
}