.small__page__nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 5%;
}

.s_nav_link {
    opacity: 0.54;
    transition: 1s;
}

.s_nav_link:hover {
    opacity: 1;
}

.s_nav_link.active {
    text-decoration: underline red;
    opacity: 1;

}

.small_nav_active {
}
